{% extends "base.html" %}
{% block title %} Home bound {% endblock %}
{% block content %}
<div class="container">
  <h3>VIDEOS</h3>
  <div class="row">
{% for c in content_urls['videos'] %}
  <div class="card col-6">
    <video class="card-img-top" style="max-height:300px; object-fit:contain; padding-top: 5%;" controls>
      <source src={{c['url']}} type="video/mp4"/>
      Your browser does not support the video tag.
    </video>
    <div class="card-body">
      <h4 class="card-title">{{c['url'].split('/')[-1]}}</h4>
      <p class="card-text"><small class="text-muted">Last updated {{c['date_modified']}}</small></p>
      <a href="#" class="btn btn-primary">Delete</a>
    </div>
  </div>
{% endfor %}
  </div>
</div>

<div class="container">
  <br/>
  <h3>IMAGES</h3>
  <div class="row" >
{% for c in content_urls['images'] %}
    <div class="card col-sm-3 ml-2 mt-2">
      <img class="card-img-top" style="max-height:200px; object-fit:contain; padding-top: 5%;" src={{c['url']}} alt="Card image">
      <div class="card-body">
        <h4 class="card-title">{{c['url'].split('/')[-1]}}</h4>
        <p class="card-text"><small class="text-muted">Last updated {{c['date_modified']}}</small></p>
        <a href="#" class="btn btn-primary">Delete</a>
      </div>
    </div>
{% endfor %}
  </div>
</div>
{% endblock %}
  