{% extends "base.html" %}
{% block title %} Home bound {% endblock %}
{% block content %}

<div class="container">
  <br/>
  <h3>IMAGES</h3>
  <div class="row" >
{% for c in content_urls['images'] %}
    <div class="card col-sm-3 ml-2 mt-2">
      <a href="{{c['url']}}" download="{{c['title']}}"><img class="card-img-top" style="max-height:200px; object-fit:contain; padding-top: 5%;" src={{c['url']}} alt="Card image"></a>
      <div class="card-body">
        <h4 class="card-title">{{c['title']}}</h4>
        <p class="card-text"><small class="text-muted">Last updated {{c['date_modified']}}</small></p>
        <form action="/delete" method="post">
          <!-- Have this here to pass the source route to delete func so it can redirect back here after delete -->
          <!-- Make sure value = name of the python function we want to redirect to -->
          <input type="hidden" name="route" value="home" />
          <button name="deleteBtn" data-route="/index" value="{{c}}" class="btn btn-primary" type="submit">Delete</button>
        </form>
      </div>
    </div>
{% endfor %}
  </div>
</div>
{% endblock %}
